body {
  background-color: #d6e1f0;
  font-family: "Catamaran", sans-serif;
  /* font-family: 'Inter', sans-serif; */
}
#container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
}
.card {
  background: white;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  border-radius: 12px;
}
.name {
  font-size: 20px;
  font-weight: 800;
  /* margin-top: 16px; */
  /* margin: 0 auto;
  display: block; */
  line-height: 1.2;
}
p {
  font-size: 14px;
  color: rgb(155, 154, 154);
  font-weight: 600;
  line-height: 1.2;
}
.card-details {
  padding: 16px 20px 8px 20px;
  text-align: center;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
